<!DOCTYPE html>
<html ng-app="PhotographyStore">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="javascripts/app.js"></script>
    <script src="javascripts/photosController.js"></script>
  </head>
  <body>
    <nav>
       <ul class="nav nav-pills">
         <li><a ui-sref-active="active" ui-sref="photos">Photos</a></li>
         <li><a ui-sref-active="active" ui-sref="new-photo">Upload a photo</a></li>
       </ul>
      </div>
    </nav>

    <h1 id="uploadit">UploadIt!</h1>

    <div ui-view></div>

  </body>
</html>
