<section class="container-fluid">
<h1>Upload it!</h1>

<p>Choose a photo to simply upload to the front page!</p>
  <div class="row">
    <form name="add-photo" id="add-photo" action="/photos" method="post" enctype="multipart/form-data">
      <input type="file" class="file" name="photoFile">
      <input type="submit" value="Upload">
    </form>
  </div>

</section>
