<section class="container-fluid">

  <div class="row">
    <form name="add-photo" id="add-photo" action="/photos" method="post">
      <input type="file" class="file" name="photoFile">
      <input type="submit" value="Upload">
    </form>
  </div>

</section>
